<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "log4j:configuration" "log4j.dtd" >
<log4j:configuration>
	<appender name="toConsoler" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}] [%t] %-5p %c %x %L- %m%n" />
		</layout>
	</appender>

	<logger name="com.xuehao" additivity="false">
		<level value="debug"></level>
		<appender-ref ref="toConsoler" />
	</logger>
	<root>
		<level value="error"></level>
		<appender-ref ref="toConsoler" />
	</root>
</log4j:configuration>
